$clip: '.clipboard';
$scrollbar: '::-webkit-scrollbar';
$light-gray: #f0f0f0;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  *,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  letter-spacing: 0.06rem;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 1.4rem;
  color: #62676a;
}

#{$scrollbar} {
  width: 0;
}

#{$clip} {
  width: 100%;
  border-radius: 0.4rem;

  .search-wrapper {
    position: fixed;
    width: 100%;
  }

  .search-icon {
    position: absolute;
    top: 1.8rem;
    left: 1.6rem;
  }

  .search-box {
    width: 100%;
    padding: 1.6rem;
    padding-left: 4rem;
    font-size: 1.4rem;
    background-color: lighten($light-gray, 2%);
    border: none;
    border: 1px solid $light-gray;
    outline: none;

    &:focus {
      background-color: #fff;
    }
  }

  #{$clip}-items {
      padding-top: 5.1rem;

    .no-result {
      display: flex;
      height: 70vh;
      align-items: center;
      justify-content: center;
    }
  }

  #{$clip}-item {
    padding: 1.6rem;
    display: flex;
    color: darken($light-gray, 75%);
    cursor: default;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }

    p {
      flex: 0 0 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    span {
      flex: 1;
      text-align: right;
    }
  }
}
